@import "../../lib/bootstrap/less/bootstrap.less";

@darkpurple: #4D505B; // primary
@pink: #CF4858; // success
@teal: #16A79D; //info
@purple: #80628B; //warning
@orange: #F4AC42; //danger
@cream: #EBE3E0;
@red: #B72228;
@grey: #787878;
@darkgrey: #464E54;

body {
  background-color: lighten(@grey, 40%);
  color: @red;
  overflow: hidden;
}

h1 {
  text-align: left;
}
h5{
  margin-top:5px;
}
a,
a:visited,
a:active {
  color: @grey;
}
.navbar {
  background-color: black;
  margin-bottom: 10px;
  color: @red;
}
.navbar .container li a,
.navbar .navbar-brand {
  color: white;
}
.navbar .container li a:hover,
.navbar .navbar-brand:hover,
.navbar .container li a:focus,
.navbar .navbar-brand:focus {
  background-color: #595c69;
  color: #FFFFFF;
}
.navbar-brand img {
  height: 30px;
  width: 70px;
}
button a {
  color: #FFFFFF;
}
#vis {
  width: 740px;
  height: 600px;
  clear: both;
  margin-bottom: 10px;
}
footer {
  text-align: center;
}
#view_selection {
  margin-top: 10px;
}
.past_due {
  font-size: 21px;
  fill: #444;
}
.tooltip {
  position: absolute;
  top: 100px;
  left: 100px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #000;
  background: #fff;
  opacity: .9;
  color: black;
  padding: 10px;
  width: 300px;
  font-size: 12px;
  z-index: 10;
}
.maptip {
  top: 0;
  left: 0;
}
.tooltip .title {
  font-size: 13px;
}
.tooltip .name {
  font-weight: bold;
}
.chatRoomView {
  color: black;
  background-color: white;
  border: 3px solid @grey;
  height: 650px;
}
ol {
  list-style-type: none;
}
.username {
  font-weight: bold;
}
.time {
  color: gray;
}
.userImg {
  width: 50px;
  height: 50px;
  border: 1px solid;
}
.main-menu li a {
  padding: 0;
}
.main-menu {
  height: 645px;
  overflow: hidden;
}
.chats {
  display: block;
}
.chats .cmmnt,
ol .cmmnt,
ol ol .cmmnt {
  display: block;
  position: relative;
  padding-left: 20px;
}
.profileImg {
  position: absolute;
  top: 8px;
  left: 0;
  float: left;
  margin-right: 20px;
  border: 1px solid;
  height: 50px;
  width: 50px;
}

.jumbotron {
  background-color: lighten(@grey, 40%);
}
.userImg {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}
.main-menu a {
  padding: 0;
}
.chats {
  display: block;
}
.chats .cmmnt,
ol .cmmnt,
ol ol .cmmnt {
  display: block;
  position: relative;
  padding-left: 30px;
}
.profileImg {
  position: absolute;
  top: 10px;
  left: 0;
  float: left;
  margin-right: 20px;
  border: 1px solid;
  height: 50px;
  width: 50px;
}
.chats .cmmnt .cmmntBox {
  padding: 0 30px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.chats .cmmnt .replies {
  margin-bottom: 0px;
}
.chatMessages {
  position: absolute;
  bottom: 8%;
  top: 2%;
  width: 100%;
  overflow: scroll;
  margin-top: 100px;
  padding-top: 15px;
}
.chats {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.dmChatMessages {
  position: absolute;
  bottom: 12%;
  top: 0%;
  width: 100%;
  overflow: scroll;
}

// Profile Changes
.thumbnail {
  height: 200px;
  width: 200px;
  margin: 10px;
}

.profileView {
 color: black;
}

.profileImage {
  height: 150px;
}

.modal-title {
  color: black;
}

.submitText {
  position: static;
}
.textBox {
  position: absolute;
  border-radius: 35px;
  width: 95%;
  height: 10%;
  margin: 16px;
  top: 90%;
  left: 0%;
}
.visualization {
  margin-left: 30px;
  margin-right: 30px;
}

.textInput {
  resize: none;
}
.rooms, .users{
  height:115px;
  overflow-y: scroll;
}
.gallery{
  overflow:scroll;
}.searchBox {
  width: 50%;
  float: right;
}

header {
  color: @darkgrey;
}

.addRoom {
  margin-top: 5px;
body {
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica;
}
.reasonPic {
  padding: 10px;
  width: 70%;
}
.description {
  padding-top: 25px;
  padding-left: 50px;
}
