<!-- angular room ui template -->
<div class="chatroom" ng-controller="roomController as room">

<!-- displaying all messages for this room -->
  <div class="messages">
    <h2>{{ room.roomname }}</h2>
    <ul>
      <li ng-repeat="msg in room.messages">
        <strong>{{ msg.username }}:</strong>
        {{ msg.text }}
      </li>
    </ul>
  </div>


<!-- input area -->
  <div class="submitText">
    <input ng-model="room.username" type="text" id="usernameInput" placeholder="enter username" />
    <input ng-model="room.roomname" type="text" id="roomnameInput" placeholder="enter roomname" />
    <input ng-model="room.text" ng-keydown="room.addMessage($event)" type="text" id="textInput" placeholder="type a text" />
  </div>
</div>

