 <div class="signup-div" ng-controller="OrgsignupController as org">

  <div class="container">
  	<div class="col-md-12">
		  <h1 class="text-center">Team Collaboration Made Easy</h2>
		<div class="signup-div col-md-8 col-md-offset-2 text-center" ng-controller="OrgsignupController as org">
		  <h3>Sign up your team now</h3>
			  <form name="orgSignupForm" ng-submit="org.signupOrg()">
			  	<div class="form-group">
				    <input class="form-control" name="orgName" type="text" ng-model="org.nameOfOrgToAdd" ng-pattern="/^[a-zA-Z0-9]*$/" placeholder="Organization name" required />
            <span class="help-inline" ng-show="orgSignupForm.orgName.$error.pattern">Please only use letters and numbers, no white space</span>
			    </div>
			    <div class="form-group">
				    <input class="form-control" name="creatorName" type="text" ng-model="org.nameOfCreator" placeholder="Your name" required />
			    </div>
			    <div class="form-group">
				    <input class="form-control" name="email" type="email" ng-model="org.emailOfCreator" placeholder="Your email" required />
			    </div>
			    <div class="form-group">
				    <input class="form-control" name="password" type="password" ng-model="org.passwordOfCreator" placeholder="Choose your password" required />
			    </div>
			    <div class="form-group">
				    <button class="btn btn-info form-control" type="submit" ng-disabled="orgSignupForm.orgName.$error.pattern">Submit</button>
			    </div>
			    <alert ng-repeat="alert in org.alerts" type="{{alert.type}}" close="org.closeAlert()">{{alert.msg}}</alert>
			  </form>
		    <a class="text-center" ui-sref='orgsignin'>Sign in to existing organization</a>
		  </div>
  </div>

  <div class="col-md-4 reasons">
  	<h3 class="text-center">Real-time Chat</h3>
	  <img src="./../../assets/reason1.svg" class="img-circle center-block reasonPic">
	  <ul class="description">
	  	<li>Collaborate with your team in real-time</li>
	  	<li>Secure cloud storage by Google</li>
	  	<li>Get started now</li>
  	<ul>
  </div>
  <div class="col-md-4 reasons">
  	<h3 class="text-center">Data Visualization</h3>
	  <img src="./../../assets/reason2.svg" class="img-circle center-block reasonPic">
	  <ul class="description">
	  	<li>Sync with your Quickbooks API</li>
	  	<li>Generate meaningful predictions</li>
	  	<li>Share with your team</li>
  	<ul>
  </div>
  <div class="col-md-4 reasons">
  	<h3 class="text-center">Search & Find fast</h3>
	  <img src="./../../assets/reason3.svg" class="img-circle center-block reasonPic">
	  <ul class="description">
	  	<li>Say bye to email thread hell</li>
	  	<li>Search any past conversations</li>
	  	<li>Go eat tacos</li>
  	<ul>
  </div>

</div>
