<div class='signin-div container text-center' ng-controller='SigninController as auth'>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 jumbotron">
		<h3>Log in</h3>
		<form name='signinForm' ng-submit='auth.signin()'>
			<div class="form-group">
				<input class="form-control" name='email' type='email' ng-model='auth.email' placeholder='Email' required>
			</div>
			<div class="form-group">
				<input class="form-control" name='password' type='password' ng-model='auth.password' placeholder='Password' required>
			</div>
			<!-- <button class="btn btn-info" ng-click='auth.checkLogin()'>Auth Status</button> -->
			<div class="form-group">
				<button class="btn btn-info form-control" type="submit">Submit</button>
			</div>
	  	<alert ng-repeat="alert in auth.alerts" type="{{alert.type}}" close="auth.closeAlert()">{{alert.msg}}</alert>
	    <a class="text-center" ui-sref='signup({org:auth.org})'>Sign up</a>

		</form>
		</div>
	</div>
</div>
