<div class="directmessage" ng-controller="directMessageController as dm">

	<div class="message" scroll-glue>
		<header><h3>{{dm.recipient}}</h3></header>
		<ol class="chats">
			<li class="cmmnt" ng-repeat="msg in dm.messages">
				<div class="profileImg"></div>
				<div class="cmmntBox">
					<div class="username">{{ msg.username }}</div>
				    <div class="message">{{ msg.text }}</div>
				    <div class="time">
				        <span am-time-ago="msg.createdAt">{{ msg.createdAt }}</span>
			        </div>
		        </div>
			</li>
		</ol>
	</div>

	<div class="textBox">
		<input class="form-control submitText" ng-model="dm.text" ng-keydown="dm.addMessage($event)" type="text" placeholder="add a message" />
	</div>

</div>
