<div class="signup-div container text-center" ng-controller="InviteController as invite">
  <div class="row">
    <div>
      <header><h2>Invite your friend to join this organization:</h2></header>
      <form name="orgEmailInvite" ng-submit="invite.emailInvite()">
        <div class="form-group">
        <input class="form-control" name="name" type="name" ng-model="invite.inviteeName" placeholder="Your friend's name" required />
        <input class="form-control" name="email" type="email" ng-model="invite.inviteeEmail" placeholder="Your friend's email" required />
        </div>
        <button class="btn btn-success" type="submit">Send Email Invitation!</button>
      </form>
  </div>
  </div>
</div>
