<div class="container" ng-controller="mainController as main">
	<div class="row">
		<div class="col-sm-3 col-md-3 main-menu">
			<h5>Reports</h5>
				<ul class="nav nav-sidebar visualizations">
					<!-- <li ng-repeat="visual in main.visuals track by $index"><a ui-sref="visual({org: main.org, visualId: visual})">{{ visual }}</a></li> -->
					<li><a ui-sref="visual.APVisual({ org: main.org })">Account Payable</a></li>
					<li><a ui-sref="visual.ARVisual({ org: main.org })">Account Receivable</a></li>
				</ul>
				<br>
			<h5>Rooms</h5>
				<ul class="nav nav-sidebar rooms">
					<li ng-repeat='room in main.rooms track by $index' ><a ui-sref="main.room({org: main.org, roomName: room})">{{ room }}</a></li>
				</ul>
				<input ng-model="main.nameOfRoomToAdd" type="text" placeholder="add room" ng-keydown="main.addRoom($event)" />
				<br>
			<h5>Users</h5>
				<ul class="nav nav-sidebar users">
					<li ng-repeat='user in main.users track by $index'><a ui-sref="main.direct({org: main.org, user: user.username})">{{ user.username }}</a></li>
				</ul>
				<br>
				<div><botton><a ui-sref="invite"({ org: main,org })>Invite Users</a></button></div>
				<img class="userImg text-center" src="{{main.currentUser.pictureUrl}}"></img>
		</div>

		<div class="col-sm-9 col-md-9 chatRoomView">
				<div ui-view></div>
		</div>
	</div>
</div>
