<div class="signup-div container" ng-controller="OrgsignupController as org">
  <header><h3>Organization Signup</h3></header>
  <form name="orgSignupForm" ng-submit="org.signupOrg()">
    <input name="name" type="name" ng-model="org.nameOfOrgToAdd" placeholder="Organization name" required />
    <input name="name" type="name" ng-model="org.nameOfCreator" placeholder="Your name" required />
    <input name="name" type="name" ng-model="org.emailOfCreator" placeholder="Your email" required />
    <input type="submit">
  </form>
</div>
