<!-- angular room ui template -->
<div class="chatroom" ng-controller="roomController as room">

  <div>
    <header><h3>{{ room.roomname }}</h3></header>
    <input class="form-control" text="text" ng-model="searchTxt" placeholder="seach chat" />
  </div>
  <!-- displaying all messages for this room -->
  <div class="chatMessages" scroll-glue>
    <ol class="chats">
      <li class="cmmnt" ng-repeat="msg in room.messages | filter:searchTxt" ng-controller="replyController as reply">
        <img class="profileImg" ng-src="{{ msg.img }}"></img>
        <div class="cmmntBox">
          <div class="username">{{ msg.username }}</div>
          <div ng-bind-html='msg.text | linky' class="message"></div>
          <div class="time">
            <span am-time-ago="msg.createdAt">{{ msg.createdAt }}</span> &middot;
            <a ng-click="reply.toggleReplying()">Reply</a>
          </div>
        </div>

        <!-- showing all replies for this message -->
        <ol class="replies">
          <li class="cmmnt" ng-repeat="reply in msg.replies">
            <img class="profileImg" src="{{ reply.img }}"></img>
            <div class="cmmntBox">
              <div class="username">{{reply.username}}</div>
              <div ng-bind-html="reply.text | linky" class="message"></div>
              <div class="time">
                <span class="time" am-time-ago="reply.createdAt">{{ reply.createdAt }}</span> &middot;
              </div>
            </div>
          </li>
        </ol>

        <!-- reply input box, shown when clicked 'reply' -->
       <!--  <button ng-click="reply.toggleReplying()">reply</button> -->
        <div class="replyBox" ng-if="reply.isReplying">
          <!-- <input ng-model="reply.replyusername" type="text" id="replyUsernameInput" placeholder="enter username" /> -->
          <input ng-model="reply.replytext" ng-keydown="reply.addReply($event, msg.$id)" type="text" id="replyTextInput" placeholder="write a reply" />
        </div>
      </li>
    </ol>
  </div>



<!-- input area -->
  <div class="textBox">
      <textarea class="form-control submitText" ng-model="room.text" ng-keydown="room.addMessage($event)" rows="1" cols="26" name="text" id="textInput" placeholder="add a message" />
  </div>
</div>

