<div class="container" ng-controller="mainController as main">
	<div class="row">
		<div class="col-md-3">
			<h3>Rooms</h3>
				<ul class="nav nav-sidebar rooms">
					<li ng-repeat='room in main.rooms track by $index' ng-click="main.getRoom($index)"><a ng-href="#/room/{{room}}">{{ room }}</a></li>
				</ul>

			<h3>Users</h3>
				<ul class="nav nav-sidebar users">
					<li ng-repeat='user in main.users'>{{ user.username }}</li>
				</ul>
		</div>

		<div class="col-md-9">
			<div class="chatRoomView">
				<div ui-view></div>
			</div>
		</div>
	</div>
</div>
