
<div class="container" ng-controller="mainController as main">
	<div class="row">
		<div class="col-sm-3 col-md-3 main-menu">
			<div class="control-group">
			    <div class="controls" ng-show="!connected">
			      Loading QuickBooks Connect button
			    </div>
			    <div class="controls" ng-show="connected">
			      <connect-to-quickbooks />
			  </div>
			</div>
			<button class='btn btn-info' ng-click='main.getQBO()'>Integrate Quickbooks data</button>
		      <progressbar max='10' value='main.dyno' ng-show='main.progress'></progressbar>

			<h5>Reports</h5>
				<ul class="nav nav-sidebar visualizations">
					<li><a ui-sref="visual.profit({ org: main.org })">Profit Loss Report</a></li>
					<li><a ui-sref="visual.APVisual({ org: main.org })">Account Payable</a></li>
					<li><a ui-sref="visual.ARVisual({ org: main.org })">Account Receivable</a></li>
					<li><a ui-sref="visual.CustomerMap({ org: main.org })">Customer Map</a></li>
				</ul>
				<br>
			<h5>Chatrooms</h5>
				<ul class="nav nav-sidebar rooms">
					<li ng-repeat='room in main.rooms track by $index' ><a ui-sref="main.room({org: main.org, roomName: room})">{{ room }}</a>
					</li>
				</ul>
				<div class="addRoom" ng-click="main.toggleAdd()"><i class="glyphicon glyphicon-plus"></i>Add Room</div>
				<input ng-if="main.isAdding" class="form-control" ng-model="main.nameOfRoomToAdd" type="text" placeholder="roomname" ng-keydown="main.addRoom($event)">
				<br>
			<h5>Direct Messages</h5>
				<ul class="nav nav-sidebar users">
					<li ng-repeat='user in main.users track by $index'><a ui-sref="main.direct({org: main.org, user: user.username})">{{ user.username }}</a></li>
				</ul>
				<br>
				<div><botton><a ui-sref="main.invite"({ org: main.org })>Invite Users</a></button></div>
				<img class="userImg text-center" src="{{main.profileUrl}}"></img>
		</div>

		<div class="col-sm-9 col-md-9 chatRoomView">
				<div ui-view></div>
		</div>
	</div>

</div>
