<div class='profileView container text-center' ng-controller='ProfileController as prof'>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="profile media jumbotron">
        <div class="media-left">
        	<img class="media-object profileImage" ng-src='{{prof.pictureUrl}}'></img>
        </div>
        <div class="profileInfo media-body media-middle">
        	<div class="username media-heading"><h4>{{prof.username}}</h4></div>
          <!-- <div class="jobtitle"><h4>{{prof.jobtitle}}</h4></div> -->
        	<div class="email"><h4>e-mail: {{prof.email}}</h4></div>
          <div>

              <a class="linkedinlink" ng-href="http://{{prof.host}}:3000/auth/linkedin/callback" target="_blank" ng-click="prof.setFBInfo()">
                <img ng-src="assets/linkedin-default.png"/>
              </a>
              <input type="checkbox" ng-checked="prof.hasLinkedin">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row container">
    <div class="col-md-6 col-md-offset-3">
      <div class="editButtons">
        <button class="btn btn-success" ng-click="prof.open()">Upload Images</button>
        <button class='btn btn-info'ui-sref='edit({org:prof.org})'>Edit Profile</button>
      </div>
    </div>
  </div>

<br>
  <div class="row container">
    <div class="col-md-4 thumbnail" ng-repeat='picture in prof.pictures'>
        <img ng-src='{{picture.url}}'></img>
    </div>
  </div>

</div>
