<div class = 'signup-div' ng-controller='SignupController as auth'>
	<header><h3>Signup</h3></header>
	<form name='signupForm' ng-submit='auth.signup()'>
		<input name='name' type='name' ng-model='auth.name' placeholder='Name' required />
		<input name='email' type='email' ng-model='auth.email' placeholder='Email' required />
		<input name='password' type='password' ng-model='auth.password' placeholder='Password' required />
		<input name='code' type='text' ng-model='auth.orgCode' placeholder='Code' required />
		<input type='submit'>
	</form>	
	<button ng-click='auth.checkLogin()'>Auth Status</button>
</div>